<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title>Crear usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
<form [formGroup]="form">
  <ion-item>
    <ion-label position="floating" >Nombre</ion-label>
    <ion-input formControlName="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Cree una contraseña</ion-label>
    <ion-input formControlName="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Repita la contraseña</ion-label>
    <ion-input formControlName="password_confirmation"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" type="password">Correo electrónico</ion-label>
    <ion-input formControlName="email" type="password"></ion-input>
  </ion-item>

  <ion-button  expand="block" (click)="submitProduct()" [disabled]="form.invalid" >Crear usuario </ion-button>
</form>
</ion-content>

