<ion-header>
  <ion-toolbar>
    <ion-title>{{caballo.Nombre}}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon slot="start" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  

  <div class="ion-padding">
    <ion-text>
      <h1>{{caballo.Peso}}</h1>
      <h1>{{caballo.Raza}}</h1>
      <h1>{{caballo.Propietario}}</h1>
      <h1>{{caballo.Fecha_Nacimiento}}</h1>
    </ion-text>

    <ion-button expand="block" (click)="openEditModal()">Editar</ion-button>
    <ion-button expand="block" color="danger" (click)="onDeleteCaballo()">Delete</ion-button>
  </div>
</ion-content>