<ion-header class="head">
    <ion-toolbar>
        <ion-title>Json</ion-title>

        <ion-buttons slot="end">
          <ion-button color="light" mode="ios" (click)="onLogout()">
            <ion-icon slot="icon-only" color="danger" name="log-out"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <pre>{{ carreras$|async | json }}</pre>
      <pre>{{ jinetes$|async | json }}</pre>
    </ion-card-content>
  </ion-card>
</ion-content>