<ion-header class="head">
    <ion-toolbar>
        <ion-title>Json</ion-title>
      </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let carrera of carreras$|async" >
    <ion-card-content>
      <ion-card-content>
        <pre>{{ carrera | json }}</pre>
      </ion-card-content>
    </ion-card-content>
  </ion-card>
  <ion-card *ngFor="let jinete of jinetes$|async" >
    <ion-card-content>
      <ion-card-content>
        <pre>{{ jinete | json }}</pre>
      </ion-card-content>
    </ion-card-content>
  </ion-card>
</ion-content>