<ion-header>
  <ion-toolbar>
    <ion-title> {{isEditMode ? 'Actualizar'  : 'Agregar'}} Carrera</ion-title>
    <ion-buttons slot="start" *ngIf="!isEditMode">
      <ion-back-button defaultHref="carreras"></ion-back-button>
    </ion-buttons>

    <ion-buttons slot="end" *ngIf="isEditMode">
      <ion-button (click)="closeModal()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 
<form [formGroup]="form">

  <ion-item >
    <ion-label position="floating">Fecha</ion-label>
    <ion-input  formControlName="fecha"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="floating">Hora</ion-label>
    <ion-input  formControlName="hora"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="floating">Distancia</ion-label>
    <ion-input  formControlName="distancia"></ion-input>
  </ion-item>

  <ion-item >
    <ion-label position="floating">Numero de participantes:</ion-label>
    <ion-input  formControlName="numero_participantes"></ion-input>
  </ion-item>

  <ion-button  expand="block" (click)="submitCarrera()" [disabled]="form.invalid">
   {{isEditMode ? 'Actualizar'  : 'Guardar'}} 
  </ion-button>
</form>
</ion-content>
