<ion-header class="ion-no-border">
  <ion-buttons slot="start">
  <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

  <ion-img src="assets/images/header4.png"></ion-img>

  <ion-content class="ion-padding">
  
    <form [formGroup]="form">
      <div>
        <ion-input formControlName="email" class="input" type="email" placeholder="Correo electrónico">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
        </ion-input>
      </div>
      <div>
        <ion-input class="input" formControlName="password" type="password" placeholder="Contraseña">
          <ion-icon name="lock-closed"></ion-icon>
        </ion-input>
      </div>
      
      <ion-button class="full" [disabled]="form.invalid" (click)="onLogin()" expand="block">Iniciar sesión</ion-button>
    </form>
  
    <ion-button expand="block" fill="clear" routerLink="/register">Crear una cuenta</ion-button>
  </ion-content>



  





