<ion-header class="ion-no-border">
  <ion-buttons slot="start">
  <ion-back-button defaulthref="login" text=""></ion-back-button>
  </ion-buttons>
</ion-header>

<ion-content>

  <ion-img src="assets/images/header4.png"></ion-img>

<ion-slides class="mainSlider" #slidePrincipal >
  <ion-slide>
    <form [formGroup]="form" (ngSubmit)="login(form)">
      <ion-grid fixed>
        <ion-row>
          <ion-col>
            <ion-list>

              <ion-item>
              <ion-input name="email" type="email" required  placeholder="Correo electronico" formControlName="email">
              <ion-icon name="mail-outline"></ion-icon>
              </ion-input>
              </ion-item>
              
              <ion-item>
              <ion-input name="password" type="password" required   placeholder="Contraseña" formControlName="password">
              <ion-icon name="lock-closed"></ion-icon>
              </ion-input>
              </ion-item>

            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-button class="buton1" type="submit"  [disabled]="!form.valid">Ingresar</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
    
  </ion-slide>
  <ion-slide>
  </ion-slide>
</ion-slides>
<div class="ion-card-footer">
  <span>¿No tiene una cuenta?</span><button class="ion-no-padding" routerLink="/add-usuario">Registrate</button>
   </div>

</ion-content>

  





