// ion-header{
//   position: absolute;
//   --color:#0d4dbb;
// }

// ion-content{
//   --ion-background-color:#ffffff!important;
//   // --ion-item-background: transparent !important;
// }

// ion-img{
//   // --ion-background-color:transparent!important;
//   // --opacity: 0;
// }

// ion-toolbar{
//   --background: #6eb74a;
//   --ion-background-color: transparent;
//   --opacity: 0;
// }

// ion-grid{
//   background-color: #6eb74a;
// }

// ion-card-content{
//   background-color: #6eb74a;
// }


ion-header {
  ion-toolbar {
    --background: #DDC283;
    --color: #8C512E;
  }
}

ion-content{
  --ion-background-color:#ffffff!important;
  --ion-item-background: transparent !important;
}

ion-card-content{
  background-color: #ddc283;
}


 
  

