<ion-header class="head">
  <ion-toolbar>
    <ion-title>Caballos</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/add-caballo">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-align-items-center">
    <ion-row>
      <ion-col size="6" *ngFor="let caballo of caballos$|async" (click)="openDetailModal(caballo)">
        <ion-card>
          <ion-card-content>
            <ion-title class="text1">
              <img src="../../../assets/iconos/horse.svg" alt=""/>
            </ion-title>
            <ion-card-title>{{caballo.nombre}}</ion-card-title>
            <ion-card-subtitle>Peso: {{caballo.peso}}</ion-card-subtitle>
            <ion-card-subtitle>Nacimiento: {{caballo.fecha_nacimiento}}</ion-card-subtitle>
            <ion-card-subtitle>Raza: {{caballo.raza}}</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>