
  ion-content{
    --ion-background-color:#6eb74a!important;
    --ion-item-background: transparent !important;
   
  }

  ion-toolbar{
    --background: #6eb74a;
  }

  ion-card-title{
    color: #000000;
  }

 
