<ion-header class="head">
    <ion-toolbar>
      <ion-title>Carreras</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/add-carrera">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-list>
      <ion-card *ngFor="let carrera of carreras$|async" (click)="openDetailModal(carrera)">
        <ion-card-content>
        <ion-grid fixed>
          <ion-row>
            <ion-col size="3">
              <ion-thumbnail>
                <img src="../../../assets/iconos/flag.svg" />
              </ion-thumbnail>
            </ion-col>
            <ion-col size="9">
            
              <ion-card-subtitle>{{carrera.fecha}}</ion-card-subtitle>
              <ion-card-subtitle>Edad: {{carrera.hora}}</ion-card-subtitle>
              <ion-card-subtitle>Nacionalidad: {{carrera.distancia}}</ion-card-subtitle>
              <ion-card-subtitle>Nacionalidad: {{carrera.numero_participantes}}</ion-card-subtitle>
            
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
      </ion-card>
    </ion-list>
    </ion-content>