<ion-header class="head">
    <ion-toolbar>
      <ion-title>Carreras</ion-title>
      <ion-buttons slot="end">
        <ion-button routerLink="/add-carrera">
          <ion-icon slot="icon-only" name="add"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-grid>
      <ion-row>
        <ion-col size="6" *ngFor="let carrera of carreras$|async" (click)="openDetailModal(carrera)">
          <ion-card>
            <ion-card-content>
              <ion-thumbnail slot="start">
                <img src="../../../assets/iconos/flag.svg" />
              </ion-thumbnail>
              <ion-card-subtitle>{{carrera.fecha}}</ion-card-subtitle>
              <ion-card-subtitle>Edad: {{carrera.hora}}</ion-card-subtitle>
              <ion-card-subtitle>Nacionalidad: {{carrera.distancia}}</ion-card-subtitle>
              <ion-card-subtitle>Nacionalidad: {{carrera.numero_participantes}}</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-content>