ion-header{
  position: absolute;
}
ion-content{
  --ion-background-color:#ffffff!important;
  --ion-item-background: transparent !important;
}

ion-grid{
  background-color: #6eb74a;
}

ion-card-content{
  background-color: #6eb74a;// color contenido de card
}


ion-toolbar{
  // --background: #6eb74a;
  --ion-background-color: transparent;
  --opacity: 0;
}


ion-card-header{
--color:#E1EAF9;
}


  

  

